-- liet ke cac nhan vien: ma, ten, luong, ngay vao lam. Sap giam theo ngay vao lam
SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, SALARY, HIRE_DATE
FROM employees
ORDER BY HIRE_DATE DESC; -- tu 2001 - 2008

SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, SALARY, HIRE_DATE
FROM employees
WHERE YEAR(HIRE_DATE)=2005
ORDER BY HIRE_DATE DESC;

SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, SALARY, HIRE_DATE
FROM employees
WHERE LEFT(HIRE_DATE,4)='2005'
ORDER BY HIRE_DATE DESC;

SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, SALARY, HIRE_DATE
FROM employees
WHERE HIRE_DATE BETWEEN '2005-01-01 00:00:00' AND '2005-12-31 23:59:59'
ORDER BY HIRE_DATE DESC;

-- liet ke cac nhan vien: ma, ten, luong, ngay vao lam. Sap giam theo ngay vao lam
-- co nam vao lam la 2005, 2007
SELECT EMPLOYEE_ID, FIRST_NAME, LAST_NAME, SALARY, HIRE_DATE
FROM employees
WHERE YEAR(HIRE_DATE) IN (2005,2007)
ORDER BY HIRE_DATE DESC;

SELECT CURRENT_DATE, YEAR(CURRENT_DATE), MONTH(CURRENT_DATE), DAY(CURRENT_DATE);
SELECT EMPLOYEE_ID, FIRST_NAME, HIRE_DATE, YEAR(CURRENT_DATE) - YEAR(HIRE_DATE) AS tham_nien
FROM employees;
SELECT EMPLOYEE_ID, FIRST_NAME, HIRE_DATE, YEAR(CURRENT_DATE) - YEAR(HIRE_DATE) AS tham_nien
FROM employees
ORDER BY tham_nien DESC
LIMIT 15;

SELECT EMPLOYEE_ID, FIRST_NAME, HIRE_DATE, YEAR(CURRENT_DATE) - YEAR(HIRE_DATE) AS tham_nien
FROM employees
WHERE YEAR(CURRENT_DATE) - YEAR(HIRE_DATE)>17
ORDER BY tham_nien DESC;

SELECT DEPARTMENT_ID, COUNT(*) AS sonv
FROM employees
WHERE DEPARTMENT_ID!=''
GROUP BY DEPARTMENT_ID
ORDER BY sonv;

SELECT DEPARTMENT_ID, COUNT(*) AS sonv, SUM(salary) AS sum_sal
FROM employees
WHERE DEPARTMENT_ID!=''
GROUP BY DEPARTMENT_ID
ORDER BY sonv;

SELECT JOB_ID, COUNT(*) AS sonv, SUM(salary) AS sum_sal
FROM employees
WHERE DEPARTMENT_ID!=''
GROUP BY JOB_ID
HAVING COUNT(*)=5
ORDER BY sonv;

SELECT YEAR(HIRE_DATE) AS nam, COUNT(*) AS sonv
FROM employees
GROUP BY YEAR(HIRE_DATE);

SELECT YEAR(HIRE_DATE) AS nam, COUNT(*) AS sonv
FROM employees
GROUP BY YEAR(HIRE_DATE)
ORDER BY sonv DESC
LIMIT 1;

SELECT YEAR(HIRE_DATE) AS nam, COUNT(*) AS sonv
FROM employees
GROUP BY YEAR(HIRE_DATE)
HAVING COUNT(*)>=10
ORDER BY sonv DESC;

-- cho biet cac nhan vien co first_name bi trung
/*
SELECT FIRST_NAME
FROM employees
ORDER BY FIRST_NAME;
*/
SELECT FIRST_NAME, COUNT(*)
FROM employees
GROUP BY FIRST_NAME
HAVING COUNT(*)>=2
ORDER BY FIRST_NAME;

SELECT EMPLOYEE_ID, FIRST_NAME, SALARY
FROM employees
WHERE FIRST_NAME IN
(
    SELECT FIRST_NAME
    FROM employees
    GROUP BY FIRST_NAME
    HAVING COUNT(*)>=2
)    
ORDER BY FIRST_NAME;

SELECT DEPARTMENT_ID, SUM(SALARY) AS sum_sal
FROM employees
WHERE DEPARTMENT_ID IN (50,70,80,90)
GROUP BY DEPARTMENT_ID
HAVING SUM(SALARY)>10000;

SELECT CountryCode, Medal, COUNT(*) AS dem
FROM medals
WHERE Year=2012
GROUP BY CountryCode, Medal
HAVING COUNT(*)>100;

SELECT CountryCode, Medal, COUNT(*) AS dem
FROM medals
WHERE Year=2012
GROUP BY CountryCode, Medal
HAVING COUNT(*)>10
ORDER BY CountryCode;

SELECT Year, CountryCode, COUNT(*) AS dem
FROM medals
WHERE Medal='Gold'
GROUP BY Year, CountryCode
ORDER BY Year, dem DESC;

CREATE VIEW myview
AS
    SELECT CountryCode, COUNT(*) AS dem
    FROM medals
    WHERE Medal='Gold' AND Year=2012
    GROUP BY CountryCode
    ORDER BY dem DESC;

SELECT countrycode, dem, DENSE_RANK() OVER (ORDER BY dem DESC) AS hang
FROM myview;

SELECT AVG(SALARY)
FROM employees; -- 6461.831776

SELECT SUM((SALARY-6461.831776)*(SALARY-6461.831776))
FROM employees; -- 1620190248.971962616832

SELECT 1620190248.971962616832/(SELECT COUNT(*) FROM employees); -- 15141964.9436632020264673

SELECT SQRT(15141964.9436632020264673); -- 3891.267781027567

SELECT STDDEV(SALARY)             
FROM employees;




